.button{
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: white;
    line-height: 16px;
    word-wrap: break-word;
    background-color: var(--button-background-color);
    display: flex;
    padding: 17px 40px 15px 40px;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: 37px;
    justify-content: flex-end;
    margin: 0 24px;
}


.button:hover{
    background-color: #FCF8F5;
    color: #000;
    border: 1px solid var(--button-background-color);
}